@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IStringLocalizer<Common> LocaleCommon

@{
  List<StoryParameterData> availableParameters = StoryParameterManager.GetAvailableParameters();

  // Story parameters (sections)
  foreach (StoryParameterData parameterSection in availableParameters)
  {
    if ((parameterSection.SectionName == null) || (parameterSection.Parameters == null) ||
        (parameterSection.ImageUrls == null))
    {
      continue;
    }

    if (parameterSection.ParameterType != _parameterType)
    {
      continue;
    }

    string selectDescription = LocaleCommon["CreateSelectTheme"];

    if (parameterSection.ParameterType == EStoryParamType.Location)
    {
      selectDescription = LocaleCommon["CreateSelectLocation"];
    }
    else if (parameterSection.ParameterType == EStoryParamType.Animal)
    {
      selectDescription = LocaleCommon["CreateSelectAnimals"];
    }

    int sectionId = parameterSection.SectionId;
    bool isMultiSelection = parameterSection.IsMultiSelection;
    List<string> parameterNames = parameterSection.Parameters;
    List<string> imageUrls = parameterSection.ImageUrls;

    if (_viewMode == EParamViewMode.Images)
    {
      <div class="stack-container">
        <div class="description">@selectDescription</div>
        <StoryParameterSectionImages SectionId=@sectionId ParameterNames=@parameterNames ImageUrls=@imageUrls
                                     IsMultiSelection=@isMultiSelection />
      </div>
    }
    else if (_viewMode == EParamViewMode.Buttons)
    {
      <div class="stack-container">
        <div class="description">@selectDescription</div>
        <StoryParameterSectionButtons SectionId=@sectionId ParameterNames=@parameterNames
                                      IsMultiSelection=@isMultiSelection />
      </div>
    }
    break;
  }
}

<div class="footer-area">
  @{
    // first parameter type
    if ((int)_parameterType == 0)
    {
      <Button class="button-medium footer-button footer-button-right" Color="Color.Primary"
              @onclick="OnNext">@LocaleCommon["Next"]</Button>
    }
    // last parameter type
    else if ((int)_parameterType == (int)EStoryParamType.MaxCount - 1)
    {
      <Button class="button-medium footer-button footer-button-left" Color="Color.Primary"
              @onclick="OnPrevious">@LocaleCommon["Previous"]</Button>
      <Button class="button-bold footer-button footer-button-right" Color="Color.Success"
              @onclick="OnCreate">@LocaleCommon["Create"].ToString().ToUpper()</Button>
    }
    // any other parameter type
    else
    {
      <Button class="button-medium footer-button footer-button-left" Color="Color.Primary"
              @onclick="OnPrevious">@LocaleCommon["Previous"]</Button>
      <Button class="button-medium footer-button footer-button-right" Color="Color.Primary"
              @onclick="OnNext">@LocaleCommon["Next"]</Button>
    }
  }
</div>

@code {
  private EParamViewMode _viewMode = EParamViewMode.Images;
  private EStoryParamType _parameterType = EStoryParamType.Theme;

  private void OnPrevious()
  {
    int parameterTypeValue = (int)_parameterType;
    parameterTypeValue--;

    if (parameterTypeValue < 0)
    {
      parameterTypeValue = (int)EStoryParamType.MaxCount - 1;
    }

    _parameterType = (EStoryParamType)parameterTypeValue;
    StateHasChanged();
  }

  private void OnNext()
  {
    int parameterTypeValue = (int)_parameterType;
    parameterTypeValue++;

    if (parameterTypeValue >= (int)EStoryParamType.MaxCount)
    {
      parameterTypeValue = 0;
    }

    _parameterType = (EStoryParamType)parameterTypeValue;
    StateHasChanged();
  }

  private void OnCreate()
  {
    StoryGenerateManager.Activate();
    Navigation.NavigateTo("/Generate");
  }
}