@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IStringLocalizer<Common> LocaleCommon

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="side-container">
  <div class="side-footer-container">
    <div class="side-footer-item">@LocaleCommon["Language"]</div>
    <div class="side-footer-item" style="margin-top: 0.3rem;">
      <CultureSelector />
    </div>
  </div>
  <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <Stack IsRow="false" Justify="StackJustifyContent.Start" AlignItems="StackAlignItems.Stretch" IsWrap="false"
           IsReverse="false">
      @{
        string textTitle = LocaleCommon["Title"].ToString().ToUpper();
        string textBrowse = LocaleCommon["Browse"].ToString().ToUpper(); ;
        string textCreate = LocaleCommon["CreateNew"].ToString().ToUpper(); ;

        if (CurrentPage == EPage.Browse)
        {
          <StackItem>
            <div class="stack-item-demo">
              <button class="side-element button-side-selected">@textBrowse</button>
            </div>
          </StackItem>
          <StackItem>
            <div class="stack-item-demo">
              <button class="side-element button-side-normal" @onclick="OnButtonCreate">@textCreate</button>
            </div>
          </StackItem>
        }
        else if (CurrentPage == EPage.Create)
        {
          <StackItem>
            <div class="stack-item-demo">
              <button class="side-element button-side-normal" @onclick="OnButtonBrowse">@textBrowse</button>
            </div>
          </StackItem>
          <StackItem>
            <div class="stack-item-demo">
              <button class="side-element button-side-selected">@textCreate</button>
            </div>
          </StackItem>
        }
        else if (CurrentPage == EPage.Generate)
        {
          <StackItem>
            <div class="stack-item-demo">
              <button class="side-element button-side-normal" @onclick="OnButtonBrowse">@textBrowse</button>
            </div>
          </StackItem>
          <StackItem>
            <div class="stack-item-demo">
              <button class="side-element button-side-normal" @onclick="OnButtonCreate">@textCreate</button>
            </div>
          </StackItem>
        }

        <StackItem class="flex-center side-title">
          <div class="stack-item-demo">
            <div>@textTitle</div>
          </div>
        </StackItem>
      }
    </Stack>
  </div>
</div>

@code {
  [Parameter]
  public EPage CurrentPage { get; set; } = EPage.Browse;

  private const string styleSelected = "button-side-selected";
  private const string styleNormal = "button-side-normal";

  private void OnButtonBrowse()
  {
    Navigation.NavigateTo("/");
  }

  private void OnButtonCreate()
  {
    StoryParameterManager.Initialize();
    Navigation.NavigateTo("/Create");
  }
}